body {
    background-color: rgb(3, 6, 44);
    color: rgb(147, 126, 223);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    flex: auto;
    justify-content: center;
    margin: 30px 0;
    font-size: 50px;
}
.base {
    display: flex;
    margin: 50px;
    gap: 50px;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 5px solid rgb(147, 126, 223);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
button {
    background-color: rgb(147, 126, 223);
    border: 5px solid rgb(147, 126, 223);
    border-radius: 15px;
    font-size: inherit;
    padding: 5px;
    width: 150px;
    color: rgb(3, 6, 44);
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease;
    width: 40px;
}
.buttons {
    display: flex;
    gap: 16px;
}
.color-picker {
    height: 100px;
    width: 100px;
    border: none;
    background-color: black;
}
button:hover {
    background-color: rgb(3, 6, 44);
    transform: scale(1.1);
    color: rgb(147, 126, 223);
}
.color-picker:hover {
    background-color: black;
    border: none;
}

.right-side {
    display: flex;
}
.canvas {
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.modal {
    background-color: rgb(3, 6, 44);
    position: fixed;
    top: 20%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex: auto;
    color: rgb(147, 126, 223);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    z-index: 1000;
    flex-direction: column;
}
.overlay {
    z-index: 500;
    background-color: rgb(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
}

.cell {
    box-sizing: border-box;
}